<div class="container content">

  <div class="page-header">
    <div class="container">
      <h1>LISTADO DE VIAJES</h1>
      <div class="navLinks">
        <li class="nav-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="nav-item"><a [routerLink]="['/destino']">Destino</a></li>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>


  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha:{{ time | async }}
